@import '../../mixins';

.Header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0;
}
.headerSettings{
    display: flex;
    align-items: center;
    column-gap: 10px
}
.headerContact{
    color: $redLight;
    text-decoration: none;
    transition: 0.5s;
    &:hover{
        color: $redDark;
    }
}
.headerSettingsBtn{
    @include button;
    padding: 10px 15px;
}