@import '../../../mixins';

.inpatientJournalContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}
.inpatientJournal{
}
.journalRow{
    display: grid;
    grid-template-columns: repeat(2, 120px) repeat(4, minmax(100px, 1fr)) 100px;
    >span, b{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid $redDark;
    }
}
.discharged{
    color: $errorColor;
}
.notDischarged{
    color: $successColor;
}

.filterButton{
    @include button;
}