$redLight: #3da9f2;
$redDark: #1283d0;
$bgLightColor: #2d2e2e;
$bg: #1e1e1e;
$mainFontColor: #cccccc;
$fontColorForHover: #d7d7d7;
$successColor: #54bd75;
$errorColor: #d9543d;

@mixin button(){
    padding: 10px 15px;
    background-color: transparent;
    color: #959595;
    transition: 0.5s ease-out;
    border-radius: 5px;
    &:hover{
        background-color: $bgLightColor;
        color: $fontColorForHover;
        transition: 0.5s;
    }
}