$redLight: #007acc;
$redDark: #04395e;
$redRadial: radial-gradient(50% 50% at 50% 50%, rgba(4, 57, 94, 0.00) 0%, rgba(4, 57, 94, 0.17) 100%);
$bg: #1e1e1e;

@mixin button(){
    padding: 16px 30px;
    border: 2px solid $redLight;
    background: $redRadial;
    border-radius: 15px;
    color: white;
    &:hover{
        background: $redLight;
    }
    &:active{
        background: $redDark;
    }
}